body{
    margin: 0;
    padding: 0 50px;
}

.navbar{
    padding: 30px;
    text-align: center;
    background-color:#15133C;
    margin: 0;
}
h1{
    color: whitesmoke;
    font-size: 50px;
    margin: 0;
}
h2{
    font-size: 30px;
}
.report{
    padding: 50px;
    background-color: #F1EEE9;
}
input{
    border-color: #15133C;
    background-color: #F2F2F2;
    border-radius: 5px;
    border-style:solid;
    padding: 6px;
    margin: 0 15px;
}
input:focus{
    border-width: 2px;
    outline:auto;
    outline-color: gray;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 1px;
}
input:active{
    border-width: 2px;
    outline:auto;
    outline-color: gray;
    outline-style: solid;
}
label{
    font-size: 25px;
}
hr{
    border: 0;
}
button{
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    color: #15133C;
    border-color: #15133C;
    background-color: white;
    margin-top: 20px;
    border-width: 1.5px;
    font-size: 18px;
}
button:hover{
    background-color: #15133C;
    color: white;
    border-color:#15133C;
    transition-duration: 300ms;
}

.result{
    background-color: #F4F9F9;
    padding: 30px 40px;
}
.res{
    margin :20px 0;
}
.footer{
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    padding: 30px 200px;
    justify-content: space-between;
}
.footer div:hover{
    cursor: pointer;
    text-decoration: underline;
}